{{- /* Head custom content area start */ -}} {{- /* Insert any custom code
(web-analytics, resources, etc.) - it will appear in the <head></head> section
of every page. */ -}} {{- /* Can be overwritten by partial with the same name in
the global layouts. */ -}} {{- /* Head custom content area end */ -}} {{- /*
Head custom content area start */ -}} {{- /* Insert any custom code
(web-analytics, resources, etc.) - it will appear in the <head></head> section
of every page. */ -}} {{- /* Can be overwritten by partial with the same name in
the global layouts. */ -}} {{- /* Head custom content area end */ -}}

<!-- roboto mono -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
  rel="stylesheet"
/>

<!-- open sans -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
  rel="stylesheet"
/>

<!-- code font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"
  rel="stylesheet"
/>
